body {
    background-color: lightgray;
    text-align: center;
    font-family: 'Meiryo UI';
    font-size: 10pt;
}

.page {
    background-color: white;
    position: relative;
    text-align: left;
    width: 209.903mm;
    height: 297.039mm;
    margin: 0 auto;
    padding-top: 12.700mm;
    padding-right: 12.700mm;
    padding-bottom: 12.700mm;
    padding-left: 12.700mm;
    --content: <p>"page"</p>;
}

.description {
    position: absolute;
    width: 55.437%;
    height: 85.279%;
    left: 6.168%;
    top: 9.264%;
    border-style: solid;
    border-color: rgb(127,127,127);
    border-width: 0.750pt;
    padding-top: 1.270mm;
    padding-right: 2.540mm;
    padding-bottom: 1.270mm;
    padding-left: 2.540mm;
    --content: <p>"description"</p>;
}

.image {
    position: absolute;
    width: 28.613%;
    height: 28.391%;
    left: 65.286%;
    top: 9.353%;
    --content: <p>"image"</p>;
}

.toc {
    position: absolute;
    width: 26.067%;
    height: 55.885%;
    left: 65.420%;
    top: 38.658%;
    border-style: solid;
    border-color: rgb(127,127,127);
    border-width: 0.500pt;
    padding-top: 1.270mm;
    padding-right: 2.540mm;
    padding-bottom: 1.270mm;
    padding-left: 2.540mm;
    --content: <p>"toc"</p>;
}
