/* Test CSS for CSS Preview */
.description {
    width: 45%;
    height: 210mm;
    -webkit-box-pack: left;
    -moz-box-pack: left;
}
.image {
    width: 45%;
    height: 80mm;
    -webkit-box-pack: right;
    -moz-box-pack: right;
}
.index {
    width: 45%;
    height: 120mm;
    -webkit-box-pack: right;
    -moz-box-pack: right;
    -webkit-box-align: end;
    -moz-box-align: end;
}
.box {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    line-height: 150px;
    --content:
        <p>"Enjoy!"</p>;
}
